<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">name</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-8">

            <div class="panel panel-default" *ngFor="let activity of activities">
                <div class="panel-heading">
                    <h3 class="panel-title">{{activity.name}}-{{activity.start}}</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>

                <img style="width:100%; height: 300px;" class=".img-responsive img-rounded"
                     src="./app/core/client/images/demo.jpg" alt="...">

            </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">name</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>